.coursebanner {
  background: linear-gradient(96.32deg, #8428e8 0%, #1653ef 100%);
  overflow: visible;
  padding-bottom: 100px;
}
.coursebanner h2 {
  font-size: 28px;
  line-height: normal;
  color: #fff;
  font-weight: 700;
  line-height: normal;
  /* max-width: 250px; */
  margin: 0;
}
.coursebanner .bannerimg {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.coursebanner .bannerimg img{
  width: 70px;
}
.coursebanner .subtitle {
  font-size: 16px;
  color: #fff;
  padding-left: 15px;
  line-height: normal;
  font-weight: normal;
  position: relative;
  margin: 30px 0;
  display: flex;
  align-items: center;
  min-height: 40px;
}
.coursebanner .subtitle::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  border: 2px solid rgba(255, 255, 255, 0.5);
  height: 40px;
  width: 2px;
}
.bannersubsection {
  position: relative;
  max-width: 66.666667%;
}
.bannersubsection .cousecontent {
  background: #1c1e25;
  box-shadow: 0px 15px 32px rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: -130px;
  color: #fff;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.cousecontent p {
  max-width: 22%;
  flex-basis: 22%;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  line-height: normal;
}
.cousecontent p.last{
  white-space: nowrap;
  max-width: 36%;
  flex-basis: 36%;
}
.cousecontent p.last b{
  color: #A0A0A0;
  font-weight: normal;
}
.cousecontent p strong {
  font-weight: 700;
}
.cousecontent p > span {
  display: block;
  font-size: 12px;
  font-weight: normal;
  color: #a0a0a0;
}
.cousecontent .feedbackstar {
  position: relative;
  top: -3px;
}

.courseoverview {
  /* margin-top: 50px; */
  overflow: visible;
}
.courseoverview .section-title.left h2 {
  margin-bottom: 20px;
  font-size: 20px;
}
.courseoverview .section-title.left p {
  font-size: 14px;
  color: #fff;
  line-height: normal;
  margin-bottom: 20px;
}
.syllabus {
  border: 1px solid #1f222c;
  border-radius: 10px;
}
.syllabus .header {
  background: #1f222c;
  border-radius: 9px 9px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  color: #fff;
}
.syllabus .header .left {
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}
.syllabus .header .left img {
  margin-right: 10px;
}
.syllabus .header .right {
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
}
.syllabus .header .right img {
  margin-left: 10px;
}
.syllabus .syllabuscontent {
  padding: 10px 20px;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
}
.syllabus .syllabuscontent.tabpan {
  padding: 0;
}
.syllabus .syllabuscontent .left {
  padding-right: 30px;
}
.syllabus .syllabuscontent.tabpan .left {
  padding-right: 15px;
}
/* .syllabus .syllabuscontent .right::after {
  content: "";
  width: 1px;
  height: 100%;
  background: #3b4254;
  position: absolute;
  top: 0;
  left: -16px;
} */
.syllabuscontent.tabpan .nav-pills{
  position: relative;
  z-index: 2;
}
.syllabuscontent.tabpan .nav-pills .nav-item{
  margin-bottom: 10px;
}
.syllabuscontent.tabpan .nav-pills .nav-link{
  background: linear-gradient(94.53deg, #1A1C25 1.87%, #1F222C 100%, #1C1E25 100%);
  border: 1px solid #2D303A;
  border-radius: 5px;
  padding: 15px 30px;
  color: #E0E0E0;
}
.syllabuscontent.tabpan .nav-pills .nav-link.active{
  color: #fff;
  background: linear-gradient(270deg, #F24F60 10.36%, #A5066C 95.36%);
  box-shadow: 0px 17px 32px rgba(0, 0, 0, 0.25);
}
.syllabuscontent.tabpan .tab-content .tab-pane ul{
  list-style: none;
  padding: 0;
  margin: 0 24px;
}
.syllabuscontent.tabpan .tab-content .tab-pane{
  overflow-y: auto;
  min-height: 352px;
  max-height: 470px;
  position: relative;
  appearance: none;
  display: block;
}
.syllabuscontent.tabpan .tab-content .tab-pane::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background: rgba(255, 255, 255, 0.2);;
  
}
.syllabuscontent.tabpan .tab-content .tab-pane::-webkit-scrollbar
{
	width: 4px;
	background: rgba(255, 255, 255, 0.2);;
}
.syllabuscontent.tabpan .tab-content .tab-pane::-webkit-scrollbar-thumb
{
	background: linear-gradient(90deg, #FB8133 0%, #FFBA08 100%);;
}
.syllabuscontent.tabpan .tab-content .tab-pane ul li{
  list-style: none;
  padding: 20px 15px;
  margin: 0;
  border-bottom:1px solid #2D303A;
  font-size: 12px;
}
.syllabuscontent.tabpan .tab-content .tab-pane ul li strong{
  font-size: 14px;
}
.syllabuscontent.tabpan .tab-content .tab-pane ul li:last-child{
  border-bottom:0;
}
.projectpan {
  margin-top: 50px;
}
.projectbg{
  background-image: url(../../assets/img/projectbg.svg);
  background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
}
.procard {
  position: relative;
  background: #1A1C25;
border: 1px solid #272727;
box-sizing: border-box;
box-shadow: 0px 15px 32px rgba(0, 0, 0, 0.2);
border-radius: 6px;
padding: 16px;
margin-bottom: 16px;
}
.procard img {
  width: 100%;
  border-radius: 5px;
}
.projheader{
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  color: #fff;
  margin-bottom: 80px;
}
.procardMT80{margin-top: 80px;}
.procardMT160{margin-top: 160px;}
.projheader img{margin-right: 10px;}
.procard .procardcontent {
  color: #fff;
  margin-top: 8px;
}
.procard .procardcontent span {
  font-size: 10px;
  font-weight: 700;
  line-height: normal;
  display: block;
  margin-bottom: 5px;
}
.procard .procardcontent h5 {
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
  margin-bottom: 5px;
}
.procard .procardcontent p,
.projectpan .right p {
  font-weight: normal;
  font-size: 12px;
  color: #B6B6B6;
  line-height: normal;
  margin: 0;
}
.projectpan .right h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}
.projectpan .right h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  margin: 30px 0 0 0;
}
.projectpan .right p {
  color: #b6b6b6;
  font-size: 12px;
  font-weight: normal;
  line-height: normal;
}
.syllabuspdf {
  text-align: center;
  font-size: 14px;
  line-height: normal;
  font-weight: normal;
  color: #fff;
  margin: 10px 0 0 0;
}
.whydothiscourse{
  margin-top: 50px;
  overflow: visible;
  /* padding-bottom: 0; */
}
.whydothiscourse .section-title.left h2 {
  font-size: 20px;
}
.whydothiscourse  .coursebox{
background: #1C1E25;
padding: 35px;
box-shadow: 0px 15px 32px rgba(0, 0, 0, 0.2);
border-radius: 10px;
color: #fff;
}

.codingslider h3{
font-size: 18px;
font-weight: 700;
margin-top: 10px;
}
.codingslider p{
  font-size: 14px;
  }
  .codingslider button.owl-dot {
    margin: 0 5px;
    border: 1px solid #2b313f;
    background: #2b313f;
    height: 8px;
    width: 12px;
    border-radius: 2px;
}
.codingslider button.owl-dot.active {
  border-color: #fb8133;
  background: #fb8133;
}
.courseaside {
  position: absolute;
  top: -425px;
  z-index: 2;
}
.courseaside .syllabuscontent {
  background: #15171e;
  border-radius: 0 0 10px 10px;
}
.courseaside .syllabus .header {
  padding: 10px 15px;
  margin-bottom: -1px;
}
.courseaside .syllabus .header .left {
  font-size: 16px;
  font-weight: normal;
}
.courseaside .syllabus .header .left strong {
  font-weight: 700;
}
.courseaside .syllabus .syllabuscontent {
  padding: 10px 15px;
}
.courseaside .syllabus .syllabuscontent .livecourse {
  background: linear-gradient(
    90.05deg,
    #f26a3e 28.06%,
    #ffba08 48.31%,
    #fb8133 70.09%
  );
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
  padding: 15px;
  margin: 15px 0;
}
.livecourse .imggift {
  margin-right: 10px;
}
.courseaside .pricebatch {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.courseaside .pricebatch h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}
.courseaside .pricebatch h4 span,
.courseaside .pricebatch h4 strong {
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
}
.courseaside .pricebatch h4 span {
  display: block;
}
.courseaside .pricebatch h4 strong {
  color: #979797;
  position: relative;
  top: -4px;
}
.batchdetail {
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  color: #b7bece;
}
.batchdetail a {
  font-weight: 700;
}
.courseinfo {
  border-top: 1px solid #3b4254;
  padding-top: 15px;
}
.courseinfo h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}
.courseinfo p {
  font-size: 12px;
  font-weight: normal;
  line-height: normal;
  display: flex;
  align-items: center;
}
.courseinfo p img {
  margin-right: 10px;
}

/*--------------------------------------------------------------
# Mentor
--------------------------------------------------------------*/
.mentor .member {
  position: relative;
  padding: 30px 0;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.mentor .member .pic img {
  transition: ease-in-out 0.3s;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
/* .mentor .member .picsquire{
  width: 50%;
} */
.mentor .member .picsquire img {
  transition: ease-in-out 0.3s;
  width: 100%;
  border-radius: 6px;
}

/* .mentor .member:hover {
    transform: translateY(-10px);
  } */

.mentor .member .member-info {
  padding-left: 30px;
  color: #fff;
}

.mentor .member h4 {
  font-weight: 700;
  margin-bottom: 0;
  font-size: 16px;
  margin-top: 15px;
}

.mentor .member span {
  display: block;
  font-size: 12px;
  color: #fff;
  position: relative;
  font-weight: normal;
}

.mentor .member p {
  margin: 15px 0 0 0;
  font-size: 14px;
  line-height: normal;
  font-weight: normal;
  color: #fff;
}
/*featured testimonials*/
.featuredtestimonials .box {
  padding: 25px;
  box-shadow: 0px 16px 50px #000000;
  background: #1a1d25;
  height: 100%;
  border-radius: 5px;
}
.featuredtestimonials .boxcontainer p {
  line-height: normal;
  color: #e2e2e2;
  font-size: 14px;
}
.featureimg img {
  width: 90px;
}
.featuredtestimonials .boxcontainer p.smtxt {
  font-size: 14px;
}
.featuredtestimonials .box .boxhead .pricedetail::after {
  top: -7px;
}

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq .faq-list {
  padding: 0;
}

.faq .faq-list ul {
  padding: 0;
  list-style: none;
}

.faq .faq-list li + li {
  margin-top: 0;
}

.faq .faq-list li {
  padding: 20px 10px;
  position: relative;
  border-bottom: 1px solid #3b4254;
}

.faq .faq-list a.collapse {
  color: #fff;
  font-weight: 700;
  outline: none;
  padding: 0 30px;
  display: block;
  position: relative;
  font-size: 16px;
  line-height: normal;
}
.faq .faq-list .icon-help {
  font-size: 16px;
  position: absolute;
  left: 10px;
  top: 23px;
  color: #fff;
}

.faq .faq-list .icon-show,
.faq .faq-list .icon-close {
  font-size: 14px;
  position: absolute;
  right: 0;
  top: 3px;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
  color: #bcbcbc;
  font-size: 14px;
  line-height: normal;
  font-weight: normal;
}
.frequentlybt {
  background: #15171e;
}
.frequentlycontainer {
  background: #000;
  padding: 30px 30px 60px 30px;
  display: inline-block;
  position: relative;
}
.faqtotalprice {
  background: #1c1e25;
  padding: 10px 20px;
  position: absolute;
  bottom: -20px;
  max-width: 545px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 15px 32px rgba(0, 0, 0, 0.2);
}
.faqtotalprice h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  margin: 0;
}
.faqtotalprice h4 small {
  display: block;
  font-size: 14px;
  line-height: normal;
  font-weight: normal;
}
.faqtotalprice h4 del {
  font-size: 18px;
  font-weight: normal;
  line-height: normal;
  color: #cbcbcb;
  margin-left: 15px;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list a.collapsed {
  color: #fff;
  transition: 0.3s;
}

.faq .faq-list a.collapsed:hover {
  color: #fff;
}

.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
  display: none;
}


.topcompanywrapper .lstcompany{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lstcompany .txthead{
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  color: #fff;
  border-right: 1px solid #393939;
  padding-right: 4%;
    margin-right: 4%;
    flex: 0 0 200px;
}
.lstcompany .lstbrandlogo{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.lstcompany .lstbrandlogo .lstbrandlogocol{
margin-bottom: 10px;
}
.lstcompany .lstbrandlogo img{
  height: 30px;
  margin: 0 15px;
  max-width: 100%;
}
.blueboxwrapper{
  background: linear-gradient(90deg, #258EE8 0%, #2AB5ED 100%);
box-shadow: 0px 15px 32px rgba(0, 0, 0, 0.2);
overflow: visible;
}
.bluebanner{
  color: #fff;
}
.bluebanner h1{
  font-size: 70px;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 0;
}
.bluebanner .bluesubhead{
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}
.bluebanner p{
  font-size: 12px;
  line-height: normal;
  font-weight: normal;
}
.bluebannerimg{
  position: absolute;
    top: -100px;
}
.bluebannerimg .blueimg1,
.bluebannerimg .blueimg2,
.bluebannerimg .blueimg3{
max-width: 100%;
}
.bluebannerimg .blueimg1,
.bluebannerimg .blueimg3{
position: relative;
bottom: -40px;
}
.placeassistbg {
  background-image: url(../../assets/img/projectbg.svg);
  background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
.mentorbg{
  background: #8F3CE5;
}
.mentorbg .section-title.left p,
.mentorbg .tabpan .nav-tabs .nav-link{
color: #fff;
}
.mentorbg .tabpan .nav-tabs .nav-link img{
  position: relative;
  top:-2px
}
.mentorbg .tabpan .nav-tabs .nav-item{
  display: flex;
  align-items: center;
  padding: 5px 10px;
}
.mentorbg .tabpan .nav-tabs .nav-link.active{
  background: #FFFFFF;
  border-radius: 5px;
  color: #1A1C25;
  padding: 10px 16px;
}
.mentorbg .tabpan .nav-tabs .nav-link.active:after{
  display: none;
}
.classaction p{
  margin-top: 10px;
  color: #fff;
  text-align: center;
}

.syllabus.scrollingtab{
border:0;
}
.scrollingtab .header{
margin-bottom: 20px;
border-radius:10px;
}
.scrollingtab .right .tab-content{
  border-radius:10px;
  background: #1A1C25;
  border: 0.5px solid #2D303A;
  padding: 10px 0;
}
.highlight{
  color: #FB8133;
}
.learningboxcontainer {
  display: flex;
  align-items: center;
  background: rgba(28, 30, 37, 0.1);
border-radius: 10px;
  margin: 0;
  padding: 16px 0;
}
.learnbox {
  max-width: 25%;
  flex-basis: 25%;
  padding: 10px 25px;
  position: relative;
  margin-right: 16px;
}
.learnbox .imgprofile {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  z-index: 2;
  /* border-radius: 50%; */
}
.learnbox h4 {
  font-size: 18px;
  line-height: normal;
  font-weight: 700;
  color: #fff;
  margin: 20px 0 0 0;
  text-align: center;
}
.learnbox h4 small {
  font-size: 14px;
  line-height: normal;
  color: #BDBDBD;
  display: block;
}
.learnbox .brandlogo{
  position: absolute;
  right: 0;
  top: 22%;
  z-index: 1;
  background: #21232d;
      border-radius: 4px;
      padding: 3px 16px;
      display: flex;
      flex-direction: column;
      min-width: 130px;
      align-items: flex-end;
  }
  .learnbox .brandlogo img{
    width: 50px;
    margin: 3px 0;
  }
  .tabhead{
    font-size: 16px;
    color: #fff;
    font-weight: 700;
  }
  .tab-content .txtpara{
    font-size: 12px;
    color: #fff;
  }
  .batchcontent .nav-pills .nav-item{
margin-bottom: 12px;
  }
.batchcontent .nav-pills .nav-link {
  background: #1c1e25;
border-radius: 5px;
color: #fff;
font-size: 14px;
font-weight: 700;
padding: 15px 30px;
}
.batchcontent .nav-pills .nav-link>img{
  width: 32px;
  margin-right: 10px;
}
.batchcontent .nav-pills .nav-link hr{
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.12);
}
.batchcontent .nav-pills .nav-link small{
  color: #949494;
}
.batchcontent .nav-pills .nav-link.active, 
.batchcontent .nav-pills .show>.nav-link {
  background: #1F222C;
  position: relative;
}
.batchcontent .nav-pills .nav-link.active::after,
.batchcontent .nav-pills .show>.nav-link::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background: linear-gradient(90deg, #FB8530 0%, #FEB50B 100%);
border-radius: 0px 0px 5px 5px;
}
.batchcontent.feecontent .nav-pills .nav-link.active::after,
.batchcontent.feecontent .nav-pills .show>.nav-link::after{
  width: 50%;
  border-radius: 0px 0px 0px 5px;
}
.batchcontent .tab-content{
color: #fff;
}
.batchcontent .tab-content .bdrsectionhead{
  padding: 15px 0;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  display: flex;
  justify-content: space-between;
}
.batchcontent .tab-content .bdrsectionhead h3{
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  margin: 0;
}
.bdrsectionhead .filterpan .filtertxt{
font-size: 12px;
color: #949494;
font-weight: normal;
line-height: normal;
}
.bdrsectionhead .filterpan .badge-secondary{
  background: #2C2E37;
  font-size: 12px;
border-radius: 15px;
padding: 6px 10px;
margin-left: 5px;
font-weight: normal;
}
.marginB15{margin-bottom: 15px;}
.batchcardcontainer .box{
  background: #1F222C;
box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.15);
border-radius: 5px;
}
.batchcardcontainer .box .livepan{
display: flex;
align-items: center;
padding: 16px;
}
.batchcardcontainer .box .livepan img{
  margin-right: 10px;
  }
  .batchcardcontainer .box .boxhead.red{
    background: linear-gradient(180deg, #A4086C 0%, #DF5D5D 100%);
  }
  .batchcardcontainer .box .boxhead.blue{
    background: linear-gradient(94.95deg, #6809D9 3.14%, #430CD7 100%);
  }
  .batchcardcontainer .box .boxhead.lightblue{
    background: linear-gradient(90deg, #258EE8 0%, #2AB5ED 100%);
  }
  .batchcardcontainer .box .boxhead.green{
    background: linear-gradient(180deg, #34A866 0%, #087D4C 100%);
  }
  .batchcardcontainer .box.batchfull{
  opacity: 0.5;
  }


/*--------------------------------- adding samarth code ---------------------*/
.batchfull .wishlst button ,.batchfull .btncardgroup button{
  /* visibility: hidden ; */
  display: none;
}

.batchfull strong {
  visibility: hidden ;
}

.box .mentorpic img{
  display: inline-block;
}
/*-------------------------------- added till here only ---------------------*/


  .box .btncardgroup .btn-primary{
margin-top: 0;
line-height: normal;
  }
  .batchfull .btncardgroup .btn-secondary{
    background: #9E9E9E;
    border: 0;
  }
  .batchcardcontainer .box .boxhead{
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
  }
  .batchcardcontainer .box .boxhead img{
    width: 28px;
    height: 28px;
  }
  .batchcardcontainer .mentordetail{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #2C2E37;
  }
  .batchcardcontainer .mentordetail .mentorname {
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
}
.batchcardcontainer .mentordetail .mentorname .txtmentor {
  font-size: 10px;
  color: #E0E0E0;
  line-height: normal;
  font-weight: normal;
  display: block;
  margin-bottom: 5px;
}
.batchcardcontainer .mentordetail .mentorname .mlogo{
display: flex;
margin-top: 5px;
}
.batchcardcontainer .mentordetail .mentorname .mlogo img{
  width: 50px;
  margin-right: 10px;
}
.batchcardcontainer .mentordetail .mentorpic img{
  width: 62px;
  height: 62px;
}
.batchcardcontainer  .box .boxdetail{
padding: 16px;
border-bottom: 1px solid #3B4254;
}
.batchcardcontainer  .box .boxdetail h5{
  font-size: 12px;
  font-weight: 700;
}
.batchcardcontainer  .box .boxdetail ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.batchcardcontainer  .box .boxdetail ul li{
  list-style: none;
  max-width: 50%;
  flex-basis: 50%;
  font-size: 10px;
  padding-right: 5px;
  margin: 4px 0;  
  position: relative;
    padding-left: 16px;
}
.batchcardcontainer  .box .boxdetail.fullwidth ul li{
  max-width: 100%;
  flex-basis: 100%;
  padding-right: 0;
  
}
.batchcardcontainer  .box .boxdetail ul li img{
  margin-right: 5px;
  position: absolute;
    left: 0;
    top: 2px;
}
.batchcardcontainer .owl-carousel .owl-item img{
width: auto;
}
.batchcardcontainer  .box .pricedatail,
.batchcardcontainer  .box .btncardgroup{
  padding: 16px;
  display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.batchcardcontainer  .box .btncardgroup{
  padding-top: 0;
}
.batchcardcontainer  .box .btncardgroup.tp16{
  padding-top: 16px;
}
.batchcardcontainer  .box .pricedatail .pricepan h4{
font-weight: 700;
font-size: 18px;
margin: 0;
}
.batchcardcontainer  .box .pricedatail .pricepan h4 span {
  font-size: 12px;
  line-height: normal;
  font-weight: normal;
  display: block;
}
.batchcardcontainer  .box .pricedatail .pricepan h4 del {
  font-size: 14px;
  font-weight: normal;
  color: #979797;
}
/*scholarship*/
.coursebanner.scholarshipbanner{
  background: linear-gradient(94.95deg, #6809D9 3.14%, #0CD7B2 100%);
  padding-bottom: 60px;
  display: flex;
  align-items: center;
}
.coursebanner.scholarshipbanner .subhead{
  font-size: 28px;
  font-weight: 700;
  line-height: normal;
  margin-top: 15px;
  margin-bottom: 0;
  color: #fff;
}
.coursebanner.scholarshipbanner .bannerimg h2{
font-weight: 900;
font-size: 50px;
line-height: normal;
}
.coursebanner.scholarshipbanner .bannerimg .txtunderline{
  width: 150px;
  margin-top: 5px;
}
.upcomingbox{
  background: #1C1E25;
  border: 1px dashed #BDBDBD;
  box-sizing: border-box;
  box-shadow: 0px 15px 32px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 30px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.upcomingbox .right .btn-secondary{
  background: rgba(242, 242, 242, 0.05);
  border: 0;
}
.upcomingbox .right .btn-primary{
  border: 0;
  line-height: normal;
}
.upcomingbox .left .regprice{
display: flex;
align-items: center;
font-size: 32px;
font-weight: 700;
line-height: normal;
}
.upcomingbox .left .regprice del{
  font-size: 14px;
  color: #979797;
  font-weight: normal;
  line-height: normal;
  margin-left: 5px;
}
.upcomingbox .right .btn + .btn{
  margin-left: 15px;
  margin-top: 0;
}
.upcomingdatetime{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  margin-top: 6%;
}
.upcomingdatetime .date{
font-size: 14px;
max-width: 48%;
flex-basis: 48%;
padding-right: 15px;
position: relative;
}
.upcomingdatetime .date::after{
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: #828282;
}
.upcomingdatetime .time{
font-size: 14px;  
max-width: 48%;
flex-basis: 48%;
padding-left: 15px;
}
.upcomingdatetime .date span,
.upcomingdatetime .time span{
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.upcomingdatetime .date span img,
.upcomingdatetime .time span img{
  width: 16px;
  margin-right: 5px;
}
.enrollwrapper{
  background: #08090C;
}
.stepper-wrapper {
  margin: 20px auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.stepperdetail{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 14px;
  line-height: normal;
}
.stepperdetail .step1{
  max-width: 30%;
  flex-basis: 30%;
}
.stepperdetail .step2{
  max-width: 40%;
  flex-basis: 40%;
  text-align: center;
}
.stepperdetail .step3{
  max-width: 30%;
  flex-basis: 30%;
  text-align: right;
}
.stepper-wrapper::before {
  content: "";
  width: 100%;
  height: 10px;
  background: linear-gradient(94.53deg, #1C1E25 1.87%, #1F222C 100%);
  position: absolute;
  z-index: 1;
}
.stepper-wrapper::after {
  content: "";
  width: 100%;
  height: 2px;
  border-bottom: 1px dashed #E0E0E0;
  position: absolute;
  z-index: 2;
}

.screen-indicator {
  border-radius: 50%;
  box-shadow: 4px 16px 10px rgba(0, 0, 0, 0.8);
  background: #08090C;
  padding: 10px 13px;
  width: 80px;
  height: 80px;
  position: relative;
  z-index: 3;
  display: flex;
    align-items: center;
    justify-content: center;
}

.cast {
  border:2px solid #FB8530;
}
.prepare{
  border:2px solid #2AB5ED;
}
.benifit{
  border:2px solid #219653;
}

.control-btn {
  background-color: rgb(238, 238, 238);
  padding: 5px 10px;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
}
.locationprofile{
  position: relative;
  display: block;
  padding-left: 60px;
  font-size: 80%;
  margin: 10px 0;
}

.contactno,
.emailinfo{
  position: relative;
  display: block;
  color: #BDBDBD;
  font-weight: normal;
  padding-left: 16px;
}
.contactno .iconcall,
.emailinfo .iconemail{
  position: absolute;
  left: 0;
  top: calc(50% - 5px);
}
.locationprofile .mentorpic{
  position: absolute;
  left: 0;
  width: 45px;
  height: 45px;
}
.locationpancontent .batchcontent .nav-pills .nav-link{
  padding: 20px;
}
.alternatecontactsection{
  color: #fff;
}
.alternatecontactsection h4{
  font-size: 16px;
}
.emailorange{
  color: #F2F2F2;
  margin: 5px 0;
}
.emailorange .smicon{
margin-right: 6px;
}
.alternatecontactsection .bdrclr{
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  margin-bottom: 2rem;
}
.responcebox{
  background: #1A1C25;
border-radius: 5px;
padding: 15px 25px;
display: inline-flex;
align-items: center;
color: #fff;
}
.responcebox img{
  width: 18px;
  margin-left: 10px;
}
.franchisefrm{
  background: #1C1E25;
box-shadow: 0px 17px 36.0797px rgba(0, 0, 0, 0.25);
border-radius: 10px;
padding: 50px;
color: #fff;
}
.franchisefrm input[type="text"],
.franchisefrm select,
.franchisefrm select:focus,
.franchisefrm textarea,
.franchisefrm textarea:focus{
  background: #15171E;
  border: 0;
  border-radius: 4px;
}
.franchisefrm .form-group .required::after {
  position: absolute;
  content: '*';
  color: #ccc;
}
@media (max-width: 991px) {
  .courseoverview .row .col-md-8{order: 2;}
  .courseoverview .row .col-md-4{order: 1;}
  .courseaside{position: static;margin-bottom: 30px;}
  .coursebanner .bannerimg{align-items: center;}
  .learningboxcontainer{
    flex-wrap: wrap;
  }
  .learnbox{
    max-width: 50%;
    flex-basis: 50%;
  }
  
}
@media (max-width: 767px) {
  .batchcardcontainer .mobileoverflowauto .col-6{
max-width: 365px;
flex-basis: 365px;
  }
  .learningboxcontainer{
    flex-wrap: wrap;
  }
  .learnbox{
    max-width: 100%;
    flex-basis: 100%;
  }
  .topcompanywrapper .lstcompany{
    display: block;
  }
  .lstcompany .txthead{
    flex: 0 0 100%;
    border-right:0;
    padding-right: 0;
    margin-right: 0;
    margin-bottom:20px;
  }
  .lstcompany .lstbrandlogo{
    overflow: auto;
  }
  .bluebannerimg{
    position: static;
  }
  .bluebannerimg .blueimg1,
.bluebannerimg .blueimg3{
position: absolute;
bottom: 85px;
}
.bluebannerimg .blueimg1{
  left: 20px;
}
.bluebannerimg .blueimg3{
  right: 20px;
}
  .projheader{
    margin-bottom: 15px;
  }
  .procardMT80,
  .procardMT160{
    margin-top: 0;
  }

  .syllabuscontent.tabpan .tab-content .tab-pane ul{
    margin: 0 15px;
  }
  .coursebanner h2{font-size: 20px;line-height: normal;}
  .coursebanner .subtitle{font-size: 14px;}
  .coursebanner .subtitle::before{top:-3px}
  .bannersubsection{max-width: 100%;}
  .cousecontent p,
  .procard .procardcontent h5{font-size: 10px;}
  .cousecontent p > span,
  .procard .procardcontent span,
  .procard .procardcontent p{font-size: 8px;}
  .cousecontent .feedbackstar{width: 12px;}
  .syllabus .header .left,
  .projectpan .right h4{font-size: 16px;}
  .syllabus .header{display: block;padding: 10px 15px;}
  .projectpan .right h5{font-size: 13px; margin-top: 10px;}
  .syllabus .header .right{margin-top: 5px;}
  .syllabus .syllabuscontent{font-size: 12px;padding: 10px 15px;}
  .servicesbox{margin-left: 15px;}
  .courseoverview .section-title.left p{font-size: 14px;}
  .mentor .member .pic img{width: 70px;height: 70px;}
  .mentor .member .member-info{padding-left: 15px;}
  .mentor .member p{font-size: 12px;margin-top: 8px;}
  .mentor .member h4{font-size: 14px;}
  .featuredtestimonials .box{padding: 15px;}
  .featuredtestimonials .boxcontainer p,
  .featuredtestimonials .boxcontainer p.smtxt{font-size: 12px;}
  .featureimg img{width: 60px;}
  .faq .faq-list a.collapse{font-size: 14px;}
  .faq .faq-list p{font-size: 12px;}
  .frequentlycontainer{padding: 15px 15px 30px 15px;display: block;}
  .frequentlycontainer .row .col-6,
  .leaningcourse .row .col-4{min-width: 280px;}
  .faqtotalprice{margin-left: 0;position: static;max-width: 100%;margin-top: 20px;padding: 10px 15px;}
  .faqtotalprice h4 small,
  .faqtotalprice h4 del{font-size: 12px;}
  .faqtotalprice h4{font-size: 14px;}
  .faqtotalprice .btn-secondary{padding: 6px 14px 7px 14px;font-size: 14px;}
}

