.eventpage-carousel .owl-item .grid-item img,
.eventpage-carousel .owl-item .btn-get-started img {
  width: auto;
  display: inline-block;
}
.eventpage-carousel .owl-item .posRel img {
  width: 150px;
  display: inline-block;
}
.eventpage-carousel .owl-dots {
  display: block;
  text-align: center;
}
.eventpage-carousel button.owl-dot {
  margin: 0 5px;
  border: 1px solid #cccccc;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}
.eventpage-carousel button.owl-dot.active {
  border-color: #e74e4b;
  background: linear-gradient(90deg, #e74e4b 0%, #f26a3e 50%, #fb8133 100%);
}
.gridhead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gridhead .left .headtxtoutline,
.gridhead .left .studentnum {
  font-size: 32px;
  line-height: normal;
}
.eventpage-carousel .grid-item p,
.eventpage-carousel .grid-item a {
  font-size: 14px;
  line-height: normal;
  text-transform: capitalize;
  font-weight: normal;
}

.details-container .card .card-header.commingsoon::before {
  display: none;
}
.details-container .card .card-header.commingsoon .eventworkname img {
  width: 36px;
}
.section-title.upcomingevent {
  width: 100%;
  justify-content: space-between;
}
.eventaction .btn-light {
  border-color: #f26a3e;
  color: #f26a3e;
  background: transparent;
}
.eventaction .btn-link {
  color: #cccccc;
}
.eventaction .btn-link:hover {
  text-decoration: none;
}
.eventaction .btn-light img,
.eventaction .btn-link img {
  position: relative;
  top: -2px;
}
.upcomingcourse {
  padding: 0;
}
.upcomingcourse .row {
  justify-content: center;
  align-items: center;
}
.upcomingcourse .headgroup {
  position: relative;
  margin: 60px 0;
  padding-left: 60px;
}
.upcomingcourse .headgroup::before {
  background: #f24f60;
  position: absolute;
  content: "";
  left: 0;
  top: 3px;
  height: 70px;
  width: 8px;
}
.upcomingcourse .headgroup h2 {
  color: #f24f60;
  font-size: 20px;
  line-height: normal;
  font-weight: 700;
  margin: 0;
}
.upcomingcourse .headgroup h3 {
  color: #fff;
  font-size: 36px;
  line-height: normal;
  font-weight: 700;
  margin: 0;
}
.reactimggroup {
  position: relative;
}
.reactimggroup .reactlogo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -56px;
  margin-top: -96px;
}
.eventbanner {
  color: #fff;
}
.eventbanner h3 {
  font-size: 16px;
  line-height: normal;
  font-weight: normal;
}
.eventbanner h3 img {
  width: 20px;
  margin-right: 10px;
}
.eventbanner h2 {
  font-size: 32px;
  line-height: normal;
  font-weight: 700;
}
.eventbanner p {
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}
.eventbanner .txtbig {
  color: #f26a3e;
}
.eventbanner p img {
  width: 22px;
  margin-right: 10px;
}
.eventbanner .txtbig img {
  width: 14px;
}
.eventbanner .techbg {
  background: #1a1c25;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}

.eventbanner .eventcontent {
  margin-left: 30px;
}
.eventbanner .eventcontent .infotext {
  font-size: 16px;
  margin-left: 30px;
}
.eventbanner .eventcontent .infotext img {
  margin-right: 10px;
  width: 20px;
}
.workshop-details {
  color: #fff;
}
.workshop-details h3 {
  font-size: 24px;
  line-height: normal;
  font-weight: 700;
}
.workshop-details p {
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
}
.workshop-details .speaker {
  position: relative;
  padding: 15px 0;
  transition: 0.5s;
  display: flex;
  justify-content: start;
  align-items: center;
}
.workshop-details .speaker .pic img {
  width: 80px;
  height: 80px;
}
.workshop-details .speaker .speaker-info {
  padding-left: 15px;
}
.workshop-details .speaker p {
  font-size: 12px;
  margin-top: 8px;
}
.workshop-details .speaker h4 {
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 10px;
}
.workshop-details .speaker span {
  display: block;
  font-size: 12px;
  color: #bcbcbc;
  position: relative;
  font-weight: normal;
}
@media (max-width: 767px) {
  .upcomingcourse .headgroup h3 {
    font-size: 24px;
  }
  .upcomingcourse .headgroup h2 {
    font-size: 26px;
  }
  .upcomingcourse .headgroup {
    margin: 30px 0;
    padding-left: 30px;
  }
  .reactimggroup .reactbg {
    position: relative;
    left: -22%;
  }
  .reactimggroup .reactlogo {
    margin-left: -82px;
  }
  .eventpage-carousel .owl-item .posRel img.txtunderline {
    width: 40%;
  }
  .gridhead .left .studentnum,
  .gridhead .left .headtxtoutline {
    font-size: 24px;
  }
  .eventpage-carousel .grid-item p,
  .eventpage-carousel .grid-item a {
    font-size: 10px;
  }
  .eventbanner .techbg{
    padding: 0;
  }
  .eventbanner .techbg img{
    width: 100%;
  }
  .eventbanner .eventcontent{
    margin: 15px 0 0 0;
  }
  .eventbanner h3,
  .eventbanner .eventcontent .infotext{font-size: 12px;}
  .eventbanner .eventcontent .infotext{margin-left: 10px;}
  .eventbanner .eventcontent .infotext img,
  .eventbanner p img,
  .eventbanner h3 img{margin-right: 5px;}
  .eventbanner h2{font-size: 20px;}
  .eventbanner p,
  .workshop-details p{font-size: 13px;}
  .workshop-details h3{font-size: 16px;}
}